<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ServerConnect" value="http://192.168.83.1:8080/" />
    <add key="methodLogin" value="api/login" />
    <add key="methodService" value="service" />
    <add key="methodRefresh" value="api/refresh-money" />
    <add key="methodLogout" value="api/logout" />
    <add key="methodChangePass" value="api/change-pass" />
    <add key="methodProfile" value="api/profile" />
    <add key="methodSlide" value="api/slide-image" />
    <add key="methodBlacklist" value="api/blacklist" />
    <add key="methodAdminAction" value="api/admin-action" />
    <add key="methodGetClientInfo" value="api/get-client-info" />
    <add key="methodWriteLoger" value="api/save-app-log" />
    <add key="time_auto_call_serve" value="60000" />

    <add key="token_admin" value="eC6EtLxbVYS8p2KHgvg2rgeBfQ0GOEgxUpWFfXZ3"/>
    
    <add key="ServerSoket" value="http://192.168.83.1:3000" />
    <add key="ServerSoketOnline" value="http://171.244.40.96:3000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>